// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#D43D3D;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#324157;
$menuActiveText:#D43D3D;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:#e1e1e1;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}


// cjsc
///* less 变量覆盖，用于自定义 ant design 主题 */
//@primary-color: #D43D3D;
//@link-color: #D43D3D;
//@border-radius-base: 4px;
//
///* 全局页面尺寸 */
//@page-min-width: 1350px;
//@page-min-height: 700px;
//@page-padding: 24px;
//@page-gap: 12px;
